@font-face {
    font-family: "NorseBold";
    src: url(Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
    background-image: url("manuel-venturini-TBmHA1LOuZU-unsplash.jpg");
    height: 100vh;
    width: 40%;
    background-size: cover;
    background-position: center;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 15%;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    text-align: center;
    margin-top: 100%;
}

.credits a {
    color: white;
}

.logo img {
    width: 6rem;
}

.title {
    color: white;
    font-family: "NorseBold", sans-serif;
    font-size: 8rem;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.content-text {
    margin-left: 50px;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    box-shadow: 0 5px 15px lightgray;
    gap: 20px;
    padding: 50px;
}

.horizontal {
    display: flex;
    justify-content: flex-start;
    gap: 80px;
}

.input-pair {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

span {
    font-size: 14px;
    font-weight: bold;
    color: rgb(100, 99, 99);
}

input {
    height: 30px;
    width: 300px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
}

input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 2px 2px 15px lightgray;
}

.account {
    margin-left: 50px;
}

button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #596D48;
    padding: 15px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.create-account {
    margin-bottom: 20px;
}

.login-text {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

#password:invalid, #confirm-password:invalid {
    border: 2px solid red;
}