@font-face {
    font-family: "NorseBold";
    src: url(Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.logo-container {
    background-image: url("manuel-venturini-TBmHA1LOuZU-unsplash.jpg");
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-position: center;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 15%;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 100%;
}

.credits a {
    color: white;
}

.logo img {
    width: 6rem;
}

.title {
    color: white;
    font-family: "NorseBold", sans-serif;
    font-size: 8rem;
}